a {
  text-decoration: none;
  color: $white;

  .text-icon {
    padding: 4px 0;
    transition: all 175ms ease-in-out;

    border-radius: 25px;
    &:hover {
      background-color: $greyhover;
    }

    .text-icon__container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px;
      img {
        width: 1.42rem;
        filter: invert(93%) sepia(7%) saturate(12%) hue-rotate(180deg)
          brightness(102%) contrast(85%);
      }
      span {
        font-family: $fontHelveticaMedium;
        margin-left: 20px;
        margin-right: 16px;
      }
    }
  }
}
