@font-face {
  font-family: "HelveticaMedium";
  src: url(/src/style/fonts/Helvetica-Neue-Font/Helvetica\ Neue\ Medium\ Extended/HelveticaMedium);
}
body {
  background-color: #000000;
}

#root {
  max-width: 1240px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  color: #e7e9ea;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .x {
  border-radius: 150px;
  transition-duration: 0.2s;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .x:hover {
  background-color: #181819;
}
header #logo {
  width: 2rem;
  padding: 2px 0;
  filter: invert(93%) sepia(7%) saturate(12%) hue-rotate(180deg) brightness(102%) contrast(85%);
}
header nav {
  margin: 2px 0 4px;
}
header button {
  margin: 16px 0;
}

a {
  text-decoration: none;
  color: #e7e9ea;
}
a .text-icon {
  padding: 4px 0;
  transition: all 175ms ease-in-out;
  border-radius: 25px;
}
a .text-icon:hover {
  background-color: #181819;
}
a .text-icon .text-icon__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
}
a .text-icon .text-icon__container img {
  width: 1.42rem;
  filter: invert(93%) sepia(7%) saturate(12%) hue-rotate(180deg) brightness(102%) contrast(85%);
}
a .text-icon .text-icon__container span {
  font-family: HelveticaMedium, sans-serif;
  margin-left: 20px;
  margin-right: 16px;
}

.publish-button {
  background-color: #1d9bf0;
  margin: 16px 0;
  transition-duration: 0.2s;
  border-radius: 30px;
  cursor: pointer;
}
.publish-button:hover {
  background-color: #1a8cd8;
}
.publish-button a {
  padding: 0 32px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
}
.publish-button .publish-button__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.publish-button span {
  font-family: HelveticaMedium, sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.button-user {
  margin: 12px 0;
  border-radius: 30px;
  transition-duration: 0.2s;
}
.button-user:hover {
  background-color: #181819;
}
.button-user a {
  display: flex;
  align-content: stretch;
  justify-content: center;
  padding: 12px;
}
.button-user .button-user__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-user .button-user__image img {
  height: 40px;
  width: 40px;
  border-radius: 150px;
}
.button-user .button-user__text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: HelveticaMedium, sans-serif;
  font-size: 15px;
  margin: 0 12px;
}
.button-user .button-user__text p {
  font-weight: 900;
  margin: 0;
  height: 100%;
}
.button-user .button-user__text span {
  font-weight: 200;
}
.button-user .button-user__icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 53px;
}
.button-user .button-user__icon-container .icon {
  width: 1.5rem;
  filter: invert(93%) sepia(7%) saturate(12%) hue-rotate(180deg) brightness(102%) contrast(85%);
  height: 18px;
  width: 18px;
}/*# sourceMappingURL=style.css.map */